/* imports */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/mixins";

/* partials */

@import "./partials/header";
@import "./partials/footer";

/* views */

@import "./views/home";
@import "./views/contacto";