.header {
    max-width: 1440px;
    height: 16vh;
    margin: 0 auto;

    .nav {
        display: grid;
        grid-template-rows: 8vh 8vh;
        justify-content: center;

        &__contacto{
            text-align: center;
        }

        &__enlace{
            grid-row: 1 / 2;
            justify-self: center;
        }

        &__img{
            height: 100%;
        }

        &__menu{
            grid-row: 2 / 3;
            list-style: none;
            display: grid;
            grid-auto-flow: column;
            gap: 2.5em;
            align-items: center;
        }

        &__items{
            font-size: 2.4em;
        }

        &__links{
            text-decoration: none;
            color: black;
            text-shadow: 2px 2px 2px #00000061;
            transition: color .3s ease-in-out;

            &:hover {
                color: $secundario;
            }
        }
    }
}


@media (max-width: 320px) and (max-width: 420px)  {
    .nav__items{
        white-space: nowrap;
    }
}