/* main */

.principal {
    padding-top: 3em;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    &__imagen {
        grid-column: 1 / 2 ;
    
        & img {
            filter: drop-shadow(-21px -15px 31px #00000050);
            width: 90%;
        }
    }
    
    
    &__texto {
        width: 35em;
        height: 55vh;
        max-height: 430px;
        border-left: solid 3px #000000;
        text-align: left;
        grid-column: 2 / 3;
    }
    
    &__titulo {
        font-size: 7em;
        margin-left: 2rem;
    }
    
    &__parrafo {
        font-size: 2em;
        margin-left: 2rem;
    }
}

/* seccion logos */
.logos {
    display: flex;
    flex-flow: column wrap;
    
    &__texto {
        font-size: 1em;
        letter-spacing: .2em;
        margin-left: 2em;
    }
    
    &__imagen {
        width: 80%;
        align-self: center;
        padding: 2em;
    }
}

/* seccion servicios */

.servicio {
    margin-top: 3em;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);

    &__cuadro {
        grid-area: 1 / 2 / 2 / 5;
        font-size: 3em;
        text-align: center;
        height: 50%;
        width: map-get($cuadros, medium);
        margin: 0 auto;
        background-color: $bg-principal;
        border:solid 3px $principal;
    }
    
    
    &__img {
        grid-area: 2 / 1 / 5 / 3;
        margin: 0 auto;
        width: 80%;
    }
    
    &__descripcion {
        grid-area: 2 / 3 / 5 / 6;
    }
    
    &__exclamacion {
        font-size: 3em;
        letter-spacing: .17em;
    }
    
    &__texto {
        letter-spacing: .15em;
        font-size: 2em;
        margin-top: 2em;
    }
}    

/* seccion camaras */

.camaras {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);

    &__cuadro {
        grid-area: 1 / 2 / 2 / 5;
        font-size: 3em;
        text-align: center;
        height: 50%;
        width: map-get($cuadros, large);
        margin: 0 auto;
        background-color: $bg-principal;
        border:solid 3px $principal;
    }
    
    
    &__img {
        grid-area: 2 / 4 / 5 / 6;
        margin: 0 auto;
        width: 80%;
    }
    
    &__descripcion {
        grid-area: 2 / 1 / 5 / 4;
        text-align: right;
    }
    
    &__exclamacion {
        font-size: 3em;
        letter-spacing: .17em;
    }
    
    &__texto {
        letter-spacing: .15em;
        font-size: 2em;
        margin-top: 2em;
    }
}

/* seccion insumos*/

.insumos {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);

    &__cuadro {
        grid-area: 1 / 2 / 2 / 5;
        font-size: 3em;
        text-align: center;
        height: 50%;
        width: map-get($cuadros, small);
        margin: 0 auto;
        background-color: $bg-principal;
        border:solid 3px $principal;
    }
    
    
    &__img {
        grid-area: 2 / 1 / 5 / 3;
        margin: 0 auto;
        width: 80%;
    }
    
    &__descripcion {
        grid-area: 2 / 3 / 5 / 6;
    }
    
    &__exclamacion {
        font-size: 3em;
        letter-spacing: .17em;
    }
    
    &__texto {
        letter-spacing: .15em;
        font-size: 2em;
        margin-top: 2em;
    }
}

/* seccion contacto */

.contacto__seccion {
    height: 20vh;
    background: linear-gradient(#f9fbab70, #f9fbab70), url(../public/img/contactoparaa.png);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5em;
    letter-spacing: .2em;

    .contacto__enlace {
        text-decoration: none;
        color: white;
        background-color: #000000;
        width: 15%;
        text-align: center;
        border:solid 4px $secundario;
        border-radius: 20px;
        transition: all .2s ease-in-out;
    
        &:hover {
            color: $hover;
            border-color: $hover;
        }
    }
}

/* seccion mapa*/

.mapa {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: repeat(6, 16.66%);
    justify-items: center;
    align-items: center;
    
    &__local {
        grid-area: 1 / 1 / 2 / 4;
        font-size: 2.8em;
        margin-top: 2em;
    }
    
    &__img {
        grid-area: 2 / 1 / 7 / 4;
        height: 80%;
    }
    
    &__ubicacion {
        grid-area: 1 / 4 / 2 / 7;
        font-size: 2.5em;
        margin-top: 2em;
    }
    
    &__contenedor {
        grid-area: 2 / 4 / 6 / 7;
        height: 60%;
        border: solid 3px #000000;
        border-radius: 20px;
        overflow: hidden;
    }
    
    &__texto {
        grid-area: 6 / 4 / 7 / 7;
        font-size: 2em;
        margin-bottom: 2em;
    }
}

@media (max-width: 1024px){
    /* secciones servicio tecnico, camaras e insumos */
        .servicio, .camaras, .insumos {
            font-size: .8em;
        } 
    }

@media (max-width: 768px){
        /* nav */
            .nav {
                font-size: .8em;
            }
        
        /* main */
            .principal__imagen {
                display: none;
            }
        
            .principal__texto{
                grid-area: 1 / 1 / 2 / 3;
                margin-left: 20px;
                justify-self: center;
                border: none;
            } 
        /* secciones servicio tecnico, camaras e insumos */
            .servicio{
                font-size: .5em;

                &__cuadro {
                    height: 30%;
                }
            } 
            .camaras{
                font-size: .5em;

                &__cuadro {
                    height: 30%;
                }
            } 
            .insumos{
                font-size: .5em;

                &__cuadro {
                    height: 30%;
                }
            } 

        /* seccion contacto */
            .contacto__enlace {
                font-size: .5em;
                width: 40%;
            } 
        /* seccion mapa */
            .mapa__img {
                height: 50%;
            }
        
            .mapa__contenedor {
            width: 80%;
            height: auto;
            } 
}

@media (max-width: 420px){
    /* nav */
        .nav{
            font-size: .6em;
        }
    /* main */
        .principal__texto {
            margin-left: 0;
            width: 90%
        }
    
        .principal__titulo {
            font-size: 5em;
        } 
    /* secciones servicio tecnico, camaras e insumos */
        .servicio{
            height: 40vh;

            &__cuadro {
                height: 30%;
                font-size: 2em;
            }
        } 
        .camaras{
            height: 40vh;

            &__cuadro {
                height: 30%;
                font-size: 2em;
            }
        } 
        .insumos{
            height: 40vh;

            &__cuadro {
                height: 30%;
                font-size: 2em;
            }
        } 
    /* seccion contacto */
        .contacto__seccion {
            font-size: 2em;
        }
    
        .contacto__enlace {
            font-size: .5em;
            width: 40%;
        } 
    /* seccion mapa */
        .mapa {
            font-size: .5em;
        }
    
        .mapa__img {
            height: 30%;
        }
    
        .mapa__contenedor {
            height: 50%;
        }
    /* footer */
        .footer {
            font-size: .9em;
        }
}